@import "./partials/animation";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    padding: 4vh;
    font-size: 2rem;
}
h1{
    font-size: 2rem;
    text-align: center;
}

p{
    font-size: 2rem;
}

.card{
    border: 1px solid black;
    width: 50%;
    position: absolute;
    border-radius: 5rem;
    padding: 4rem;

    
    &__home{
        background-color: purple;
        z-index: 1;
    }
    
    &__summary{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkgrey;
        z-index: -1;
        
        &--article{
            background-color: aliceblue;
            height: 512px;
            width: 80%;
            margin-bottom: 3rem;
            border-radius: 2rem;
            padding: 3rem;
            overflow-y: scroll;
        }

        &--button-done{
            font-size: 3rem;
            border-radius: 5rem;
            margin-bottom: 3vh;
            width: 15rem;
        }
    }
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.nav__search-bar{
    flex: 1;
    margin: 1rem;
    height: 2rem;
}
.nav__profiles{
    display: flex;
}

.feed{

    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;


    &__icon {
        border: 3px solid black;
        margin: 1rem;
        border-radius: 2px;
        background-color: grey;
    }
}

.headlines{    

    padding: 1rem;
    border: 1px solid black;
    height: 100px;
    overflow-y: scroll;
}

.parameters{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.card__home--button-breif{
    font-size: 2rem;
    width: 50%;

}